EXPO_PUBLIC_API_BASE_URL=https://api.example.com
EXPO_PUBLIC_CDN_BASE_URL=https://cdn.example.com
EXPO_PUBLIC_MOBILE_SCHEME=memegy
EXPO_UPDATES_CHANNEL=production
EXPO_PUBLIC_DOWNLOADER_API_BASE_URL=https://downloader.example.com
EXPO_PUBLIC_DOWNLOADER_APP_SECRET=
